#login-page h1 span{
 font-size: 22vw;
}

#login-page h1{
margin-bottom: 8vw;
}

#login-page input{
    font-size: 6vw;
    margin-bottom: 4vw;
    width:75vw;
}

#login-page button{
    font-size: 6vw;
    font-weight: 600;
}

#login-page a{
    font-size: 6vw;
    margin-top:4vw;
    cursor: auto;
    text-decoration: underline;
}

#login-page label{
    font-size:5.5vw;
    height: 5.5vw;
    width:90vw;
}

@media (min-width: 992px) {
    #login-page h1 span{
        font-size: 10vw;
       }
       
       #login-page h1{
       margin-bottom: 1.5vw;
       }
       
       #login-page input{
           font-size: 2.6vw;
           margin-bottom: 1.2vw;
           width:37vw;
       }
       
       #login-page button{
           font-size: 2.3vw;
           font-weight: 600;
       }
       
       #login-page a{
           font-size: 2vw;
           margin-top:1vw;
           cursor: auto;
           text-decoration: underline;
       }
       
       #login-page label{
        font-size:3vw;
        height: 3vw;
    }
}

