
#new-game label:not(.user-icon.left label){
    margin:0;
}

#new-game #checkbox-constParameters select{
    font-size: 4.8vw;
    text-align-last:center;
    padding:0;
    width:18vw;
    height:7vw;
}

#new-game #checkbox-constParameters select option.form-control{
    font-size: 6vw;
    padding:0;
    margin:0;
}

#new-game #checkbox-constParameters input[type='checkbox']{
    height:5vw;
    width: 5vw;
}

#new-game #checkbox-constParameters label,
#new-game #checkbox-constParameters span,
#timer-for-set{
    font-size: 6.4vw;
    margin-bottom: 0;
}

#checkbox-constParameters{
    margin :4vh 0;
}

#new-game button{
    font-size:6.2vw;
    margin-top:3.5vw;
    align-self:center;
}

#new-game h1{
    font-size:14vw;
    margin:0;
}

#new-game div.container{
    margin:auto auto;
    width:90vw;
    padding:0;
    align-self:center;
}

#new-game input[type='number']{
    font-size:5vw!important;
}

@media (min-width: 992px) {

    #checkbox-constParameters{
        height: 9vh;
        margin :0.3vh 0;
    }

    #new-game #checkbox-constParameters select{
        font-size: 5vw;
        height: 8vw;
        width: 17vw;
    }
    #new-game #checkbox-constParameters select option{
        font-size:5vw;
    }
    
    #new-game #checkbox-constParameters input[type='checkbox']{
        height:5vw;
        width: 5vw;
    }
    
    #new-game #checkbox-constParameters label,
    #new-game #checkbox-constParameters span,
    #timer-for-set{
        font-size: 6.5vw;
    }

    #new-game h1{
        font-size:16vw;
    }

    #new-game div.container{
        padding:0;
    }

    #new-game button{
        font-size:6vw;
        padding:1.5vw 5vw;
        margin-top:4vh;
    }
 }

@media (min-width: 1200px) {
    #new-game button{
        height: 4vw;
        font-size:2.3vw;
        width:8vw;
        padding: 0;
    }

    #checkbox-constParameters{
        height: 10vh;
        margin :0.3vh 0;
    }

    #new-game #checkbox-constParameters select{
        font-size: 2vw;
        height: 3vw;
        width: 7.5vw;
        margin:auto auto;
    }
    #new-game #checkbox-constParameters select option{
        font-size:2vw;
    }
    
    #new-game #checkbox-constParameters input[type='checkbox']{
        height:2vw;
        width: 2vw;
    }
    
    #new-game #checkbox-constParameters label,
    #new-game #checkbox-constParameters span,
    #timer-for-set{
        font-size: 2.7vw;
    }

    #new-game h1{
        font-size:6vw;
    }

    #new-game div.container{
        width:42vw;
    }

    #new-game button{
        font-size:2.5vw;
        width:9vw;
        margin-top:1.5vw;
        align-self:center;
    }

    #new-game input[type='number']{
        font-size:2.5vw!important;
    }
    
 }



