._dropdown{
    font-size: 1rem;
}

._dropdown option{
    font-size: 1rem;
}

@media (min-width: 768px) { 
    #new-game ._ckeckbox{
        height:4vw;
        width: 4vw;
    }
 }


@media (min-width: 992px) { 
    #new-game ._ckeckbox{
        height:1.7vw;
        width: 1.7vw;
    }
 }
