
#signout{
  height: 9vh;
  margin-left: 1.4vw;
  float: left;
  background-color: transparent;
}

.buttonsIcons{
  height: 7vh;
  background-color: transparent;
}

.buttons{
  border: 1px solid #707070;
  border-radius: 10px;
  font-weight: 800;
}







