.buttonsIcons{
  height: 10vw;
  background-color: transparent;
}

.buttonsIcons.exist{
  height: 13vw;
}

.buttonsIcons.new{
  height: 9vw;
}

#sel .btn-primary {
  font-size: 7.3vw;
  max-width:75vw;
  text-align:right;
  padding:1vw 4vw;
  margin:1.4vh 0;
}

#sel h1{
  margin-top:6vw;
  font-size: 17vw;
}

#sel nav label:not(.user-icon.left label){
  font-size:20vw;
}



#logout img{
  height:9vw;
  width:9vw;
  cursor:pointer;

}

#logout label{
  font-size:3vw;
  cursor:pointer;
}

@media (min-width: 992px) {
  #sel .btn-primary {
    font-size: 5vw;
    padding: 2vw 4vw;
    text-align:center;
  }

  #sel .btn-primary[name='existGame'] {
    margin-left:4vw;
  }

  .buttonsIcons{
    height: 6vw;
    background-color: transparent;
  }

  #sel h1{
    font-size: 14vw;
  }

  .buttonsIcons.exist{
    height: 8vw;
  }
  
  .buttonsIcons.new{
    height: 5vw;
  }

  #logout img{
    height:8vw;
    width:8vw;
  }
  
  #logout label{
    font-size:3vw;
  }
  
}



@media (min-width: 1200px) {
  #sel .btn-primary {
    font-size: 3.2vw;
    text-align:center;
    padding:1vw 1vw;
    max-width:40%;
  }

  #sel .btn-primary[name='existGame'] {
    margin-left:2.7vw;
  }

  .buttonsIcons{
    height: 4vw;
    background-color: transparent;
  }

  #sel h1{
    font-size: 9.5vw;
  }

  .buttonsIcons.exist{
    height: 4.3vw;
  }
  
  .buttonsIcons.new{
    height: 3.5vw;
  }

  #logout img{
    height:4vw;
    width:4vw;
  }
  
  #logout label{
    font-size:1.5vw;
  }
}






