#save-game button{
    font-size: 2rem;
}

#save-game h1{
    font-size: 10.5vw;
    margin-bottom: 3vh;
}

@media (min-width: 992px) {
    #save-game h1{
        font-size: 7vw;
    }

    #save-game p{
        font-size: 2.2vw;
    }
}

