.greyCard{
    border: 2px solid #707070!important;
    transform: translateY(4px);
    opacity:1!important;
 }

 .another-player{
     opacity: 0.5;
 }
 
 .unselectedCard{
    cursor: pointer;
    outline: none;
    line-height:0;
    box-shadow: 0px 2px rgba(0,0,0,0.44);
    border: 5px solid #e6e3e3;
    border-bottom-color: rgba(0,0,0,0.35);
}
  
 .greenCard{
     border: solid 5px #8CC63F!important;
     opacity:1!important;
 
 }
  
 .redCard{
    border: solid 5px #FF1D00!important;
    opacity:1!important;
 }
 
 .not-active {
     pointer-events: none;
     cursor: default;
     border: 1px solid #707070;
 }
 
 ._card-div{
    width: 21vmin;
    height:21vmin;
     position: relative;
     margin:0 1vw;
 }


 .right-or-wrong_setImg{
    visibility:visible;
    height: 5vh;
    position: absolute;
    top:-8%;
    right:-3.5%;
    background-color: transparent;
 }

 ._card{
    width: 20vmin;
    height:20vmin;
    background-color: #dbdbdb;
    border-radius: 4px;
    margin:0.4vh;
}

@media(min-width: 992px){
}

@media(min-width: 1200px){
}
 