#exist-game input{
    width:50vw;
    font-size: 6vw;
    height: 12vw;
}

#exist-game h3{
    font-size: 12vw;
    margin-bottom:3vw;
}

#search-game {
    margin:auto auto;
}

#search-game button{
    font-size: 5.5vw;
    margin-top:4vw;
}

#participants-list{
    margin-top:7vw;
    font-size:6vw;
    max-width:83vw;
}

#search-game img{
    margin-top:10vw;
}


@media (min-width: 1200px) {
    #search-game h3{
        font-size: 7vw;
        margin-bottom:1.5vw;
    }

    #exist-game input{
        width:40vw;
        font-size: 3.5vw;
        height:6.5vw;
    }

    #search-game button{
        font-size: 2.5vw;
        margin-top:1.5vw;
        padding:0.2vw 1.5vw; 
    }

    #participants-list{
        margin-top:1vw;
        font-size:3vw;
        max-width:80vw;
        height:4vw;
        width:80vw;
        margin-bottom:0;
    }

    #search-game .loading-sm{
        height:3vw;
        width:3vw;
        margin-top:2vw;
    }
}
