#exist-game input{
    width:50vw;
    font-size: 6vw;
}

#search-game {
    margin:20vh 0 0 0;
}

#search-game button{
    font-size: 5.5vw;
}

#participants-list{
    margin-top:7vw;
    font-size:6vw;
    max-width:83vw;
}

@media (min-width: 992px) {
    #search-game h3{
        font-size: 7vw;
    }

    #search-game {
        margin:7vh 0 0 0;
    }

    #exist-game input{
        width:40vw;
        font-size: 3.5vw;
    }

    #search-game button{
        font-size: 2.5vw;
        margin-top:1.5vw;
        padding:0.2vw 1.5vw;
        
    }

    #participants-list{
        margin-top:2vw;
        font-size:3vw;
        max-width:80vw;
    }

    #search-game .loading-sm{
        height:7vw;
        width:7vw;
    }
    
}
