
#endGame img{
    width:33vw;
    margin:1.5vh auto;
    background-color: none;
}

#endGame .display-4{
    font-size: 16vw;
}

#endGame .lead{
    font-size: 9vw;
}

#endGame ul li{
    font-size: 4vw;
}

#endGame ul li span:not(.info-text){
    font-size: 4vw;
    margin:0 1vw;
}

.info-text{
    font-size: 5.5vw;
}

#endGame button{
    align-self: center;
    font-size:5vw;
    padding: 1.5vw 4vw;
    margin-top: 2vh;
}


 @media (min-width: 1200px) {
    #endGame{
        margin-top: 0vh;
    }
    #endGame img{
        width:9vw;
        margin:0 auto;
    }
    
    #endGame .display-4{
        font-size: 8.5vw;
    }
    
    #endGame .lead{
        font-size: 3vw;
    }
    
    #endGame ul li,
    #endGame ul li span:not(.info-text){
        font-size: 1.4vw;
    }

    #endGame ul li{
        padding:1vw;
    }
    
    #endGame button{
        align-self: center;
        font-size:2vw;
        padding: 0.5vw 2vw;
    }
    
    .info-text{
        font-size: 2vw;
    }
 }

