#endGame img{
    width:9vw;
    margin:0 auto;
    background-color: none;
}

#endGame h2{
    font-size: 3vw;
}

#endGame ul li,
#endGame ul li span{
    font-size: 1.8vw;
}

.info-text{
    font-size: 1.2rem;
}