#chart-data{
  padding:0;
  height:100vh;
}

#lineChart{
  height: 68vh;
  width:90vw;
}

#chart-container{
  height: 70%;
}

#chart-data .btn-group button{
  background-color:var(--light_pink);
  font-size:1rem!important;
}

#chart-data img{
  width:5vw;
  height: 5vw;
}

#chart-data
.btn-secondary:hover,
.btn-secondary:target
.btn-secondary:active,
.btn-secondary:focus {
  background-color: var(--_pink);
}

#chart-data 
.btn-secondary{
  background-color: var(--light_pink);
  font-size:3vh!important;
  white-space: nowrap;
}

#drop_down_chart label{
  color:#e6b2c6;
}

#drop_down_chart select{
  background-color: #f6e5e5;
  text-align-last:center;
  width:20vw;
}

#chart-info h1{
  font-size: 5.2vw;
}

#chart-info p{
  font-size: 2vw;
}

#dropdown_and_buttons{
  margin:1vh auto 0 auto;
  padding:0;
}


@media (min-width: 992px){
  #dropdown_and_buttons{
    margin-left: 0
  }

  #drop_down_chart label{
    font-size: 1.8vw;
    width:10vw;
  }

  #drop_down_chart select{
    font-size: 1.45vw!important;
    height: 3.6vw!important;
    width:7vw;
    padding:0;
  }

  #drop_down_chart select option{
    font-size:1.45vw!important;
  }

  #chart-data .btn-group button{
    background-color:var(--light_pink);
    font-size:1.45vw!important;
    width:55vw!important;
    height:3.6vw;
    white-space: nowrap;
  }

  #chart-data .btn-group{
    margin:0 auto;
  }

  #chart-info h1{
    font-size:8.2vh;
  }

  #chart-info p{
    font-size:3.5vh;
  }

  #chart-container{
    margin-top:0.5em;
  }

  #chart-data img{
    width:3vw;
    height: 3vw;
  }

  #chart-data nav{
    padding:1em 0;
  }
}








  
  
