.container-fluid{
  padding:0
}

#chart-data .btn-group button{
  background-color:var(--light_pink);
}

#chart-data img{
  width:5vw;
  height: 5vw;
}

@media (min-width: 992px){
  #dropdown_and_buttons{
    margin-left: 0
  }
  #chart-data{
    height: 100vh;
  }
}

@media (min-width: 768px) {  
  #chart-data img{
    width:5vh;
    height: 5vh;
  }
}

#chart-data
.btn-secondary:hover,
.btn-secondary:target
.btn-secondary:active,
.btn-secondary:focus {
  background-color: var(--_pink);
}

#chart-data 
.btn-secondary{
  background-color: var(--light_pink);

}








  
  
