#chart-data{
  padding:0;
  height:100vh;
}

#lineChart{
  height: 60vh;
}

#chart-container{
  height: 70%;
}

#chart-data .btn-group button{
  background-color:var(--light_pink);
  font-size:1rem!important;
}

#chart-data img{
  width:5vw;
  height: 5vw;
}

#chart-data
.btn-secondary:hover,
.btn-secondary:target
.btn-secondary:active,
.btn-secondary:focus {
  background-color: var(--_pink);
}

#chart-data 
.btn-secondary{
  background-color: var(--light_pink);
}

#drop_down_chart label{
  color:#e6b2c6;
}

#drop_down_chart select{
  background-color: #f6e5e5;
  text-align-last:center;
}

#chart-info h1{
  font-size: 2.2rem;
}

#chart-info p{
  font-size: 1rem;
}

#dropdown_and_buttons{
  margin:1vh auto 0 auto;
  padding:0;
}


@media (min-width: 992px){
  #dropdown_and_buttons{
    margin-left: 0
  }

  #drop_down_chart label{
    font-size: 1rem;
  }

  #drop_down_chart select{
    font-size: 0.98em!important;
    height: 8.5vh!important;
  }

  #chart-data .btn-group button{
    background-color:var(--light_pink);
    font-size:0.8rem!important;
  }

  #chart-info h1{
    font-size:1.8rem;
    font-weight: bold;
  }

  #chart-info p{
    font-size:0.9rem;
  }

  #chart-info{
    margin-bottom: 0.5em;
  }

  #chart-container{
    margin-top:1.5em;
  }

  #chart-data img{
    width:3vw;
    height: 3vw;
  }
}








  
  
