#user-icon .left img{
    width:10vh;
    height: 10vh;
}
#user-icon .left label{
    font-size: 2.3rem;
    margin-right: 2vw;
}



@media (min-width: 992px) { 
    #user-icon .left img{
        width:14vh;
        height: 14vh;
    }
    #user-icon .left label{
        font-size: 2rem;
        margin-right: 1vw;
    }
 }
