
#reg div input{
    margin:1.7vh auto;
    height: 6.5vh;
    font-size: 1.5rem;
}

/* #reg nav{
    padding:0;
} */

#reg div input[type='file']{
    display:none;
}

#reg #profile-pic{
    height: 15vh;
    width: 15vh;
}

#reg #uploader-icon{
    height: 8vh;
    width: 8vh;
}

#upload_profilePic_container label{
    border-style: dashed;
    width:18vh;
    height:18vh;
    display: inline-flex;
    justify-content:center ;
}
#upload_profilePic_container p{
    width: 35vh;
    font-size: 1rem;
    text-align: center;
}

#reg #upload_profilePic_container{
    margin-top: 1vh;
}

#reg .btn{
    width: 22vw;
    height: 7.5vh;
    padding: 0;
    font-size: 2.2rem!important;
}

#reg #state-info{
    font-size: 3.8vw;
    max-width:95vw;
    margin-top:1vw;
}

#reg .upper-bar-icon{
    height: 5vh;
}

#reg .display-2{
    height:17.5vw;
}

@media (min-width: 992px) {
    #reg #upload_profilePic_container{
        margin: 0;
    }

    #reg .lg-screen{
        width:43.5vw;
    }

    #reg .sm-in-lg-screen{
        width:21vw;
        margin:1.7vh 0 0 0;
    }

    #reg .sm-in-lg-screen[name='phoneNum']{
        margin-right:1.5vw;
    }

    #upload_profilePic_container p{
        width: 80vh;
        font-size: 0.8rem;
        text-align: right;

    }

    #reg .display-2{
        font-size: 3.5rem;
        height:8vw;
    }

    #reg div input{
        font-size: 1rem;
        margin:2vh auto;
        height: 7vh;
    }

    #reg .btn{
        height: 8vh;
        width: 10vw;
        font-size: 1.1rem!important;
        padding:0;
        margin-top: 1vh;
    }

    #reg #state-info{
        font-size:2vw;
        margin:0.5vw 0 0 0;
        max-width:80vw;
    }

    #reg .upper-bar-icon{
        height: 4.95vh;
    }
 }
