 
*{
    padding:0;
    margin:0;
    font-family:Verdana, Geneva, sans-serif;
    color:black;
    background-color:white;
    font-size:20px;
    direction: rtl;
    text-align: center;
}

input{
direction: ltr;
}

.page{
    width:100vw;
    height:100vh;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction:column;
}



/* .btn-primary,
.btn-primary:hover,
.btn-primary:focus{
  color: rgb(8, 8, 8);
  background-color: rgb(141, 135, 135);
  border: .05rem solid #fff;
} */

/* .btn-lg{
    padding: 0.2rem 0;
    font-weight: 700;
    margin: 2% 1%;
    font-size:1.5rem; 
    margin:0.5rem;
    width:15vw;
} */


#login-page a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
#login-page a:visited {
    color:rgba(0, 0, 255, 0.575);
    background-color: transparent;
    text-decoration: none;
  }
  #login-page a:hover {
    color:rgb(113, 113, 255);
    background-color: transparent;
    text-decoration: underline;
  }

  .upper-bar{
    width:100vw;
    background-color:#D1C1FC;
    overflow:auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }


  @media only screen and (max-width: 1024px) and (min-width:425px) {
    *{
      font-size:14px;
    }
}

@media only screen and (max-width: 425px) {
    *{
        font-size:10px;
      }
}

#login-page >*{
  margin:1vh;  
}

#login-page label{
    font-size: 1.5rem;
    font-weight: bold;
}

.text-primary {
    color: rgb(91, 64, 167) !important;
}

.btn{
    display:inline-block;
    /* padding:0.3em 1.2em; */
    /* margin:0 0.3em 0.3em 0; */
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    background-color:#926AFF;
    text-align:center;
    transition: all 0.2s;
    border-color: #707070;
    }
    .btn:hover{
        background-color:rgb(123, 77, 247);
    }

    @media all and (max-width:30em){
     .btn{
        display:block;
        margin:0.2em auto;
        }
    }

    #existGame >*{
        margin:1vh;
    }






