 
*{
    padding:0;
    margin:0;
    /* font-family:Verdana, Helvetica; */
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color:black;
    background-color:transparent;
    font-size:20px;
    direction: rtl;
    text-align: center;
}

.container-fluid{
  padding: 0;
}

.upper-bar-icon{
  height: 8.5vh;    
  background-color: transparent;
}

input{
direction: ltr;
}

.page{
    width:100vw;
    height:100vh;
    background-color:'white';
    direction: ltr;
}

  .upper-bar{
    width:100vw;
    background-color:#D1C1FC;
    overflow:auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

.text-primary {
    color: rgb(91, 64, 167) !important;
}

.upperBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #D1C1FC;
  align-items: center;
  padding-right: 1%;
  padding-left: 1%;
  border-bottom: 1px solid #707070;
}

.loading-sm{
  height:10vw;
  width:10vw;
}

nav{
  background-color: var(--_1);
}

.btn.btn-primary,
.btn-primary:hover,
.btn-primary:active{
  background-color: var(--_3)!important;
  border-color:var(--_3)!important;
  color:black;
}

@media (min-width: 992px) {
  .loading-sm{
    height:4vw;
    width:4vw;
  }
  .upper-bar-icon{
    height: 10vh;
    background-color: transparent;
}
}




