 *{
    padding:0;
    margin:0;
    font-family:Verdana, Geneva, sans-serif;

}

.page{
    display: flex;
    width:100vw;
    height: 100vh; 
}

button{
    background-color: lightskyblue;
    border-radius: 15%;
}

#login-page{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
}

#login-page> * {
    margin:0.5rem;
}

#login-page input{
    height: 5vh;
    width: 40vw;
    font-size: 1.2rem;
}

#game-type{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#game-type label{
    display: block;
    font-size: 1rem;
    margin-bottom: 10vh;
    direction: rtl;
    justify-content: center;
    align-items: center;
    margin-right: 2rem; 
}
#game-type h1{
    display: block;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10vh;
    direction: rtl;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#signout{
    display: inline-block;
    top:10%;
    left:5%;
    height:1.7rem ;
    width: 4rem;
    text-align: center;
    font-size: 1rem ;
}
.game-type-buttons>*{
    margin:0.5rem;
    height:6rem ;
    width: 10rem;
    font-size: 1.7rem ;
    font-weight:bold;
}
.game-type-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#top-bar{
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    align-self: start;
    justify-content: space-between;
}

#game-type input[type="text"]{
    height:2.8rem ;
    font-size: 1.2rem;
    text-align: center;
}

#new-game{
    flex-direction: column;
    direction: rtl;
}

#new-game input{
    margin:0.7rem;
}

#new-game select{
    margin:0.8rem;
}

#new-game span{
    font-size:1.5rem;
}

#new-game button{
    margin-top: 1.5rem;
    height:3rem ;
    width: 7rem;
    font-size: 1rem;
}


#board{
   display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    direction: rtl;
}

#board label{
    font-size:2rem;
    font-weight: 550; 
    margin-top:2vh;
}

#board button{
    width: 10rem;
    font-size: 2rem;
}




.greyCard{
   border: solid 0.4rem gray;

   
}

.unselectedCard, .not-active{
   border: solid 0.4rem white;
}

.greenCard{
   border: solid 0.4rem greenyellow; 
}

.redCard{
   border: solid 0.4rem red;
}

.not-active {
    pointer-events: none;
    cursor: default;
    opacity: 0.4;

  }

#cards{
    width:48vw;
    height:78vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    align-content: space-around;
}


#lower-bar>*{
 
    margin:2%;
}

#lower-bar button{
    font-weight:bold;
    padding:8%;
}

.card{
    width:8vw;
    height:16vh;
    padding:3vh 1vw;
    margin:0.5vh 0.5vh;
    background-color: #dbdbdb;
    border-radius: 8px;
}








#entrance{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#entrance-buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#entrance-options button{
    margin:1rem;
    margin-top:2.5rem;
    height:6rem ;
    width: 12rem;
    font-size: 1.7rem ;
    font-weight:bold;
    background-color: lightskyblue;
    border-radius: 15%;
    align-items: center;
}

#entrance-options label{
    margin-top: 30vh;
    font-size: 5.5rem;
    font-weight: 600;
    display:block;
    text-align: center;
}

#login-page button{
    margin:0.5rem;
    height: 3.8rem ;
    width: 8.5rem;
    font-size: 1.7rem ;
    font-weight:bold;
}


#reg{
    direction: rtl;
    text-align: center;
}

#reg > *{
    display: block;
    margin:0.5rem;
}
#reg input{
    text-align:center;
    width: 50vw;
    height: 4vh;
    border: 0.01rem solid black;
    font-size: 1.2rem;
}
#reg button{
    margin:1.5rem;
    height:2rem ;
    width: 5rem;
    font-size: 1rem ;
    font-weight:bold;
    margin:auto auto;
}

#reg h2{
    font-size: 4rem;
    margin-bottom:4vh;
}

@media only screen and (max-width: 600px) {
    .card{
        width:19vw;
        height:9vh;
        padding:3vh 1vw;
        margin:0.5vh 0.5vh;
        background-color: #dbdbdb;
        border-radius: 0.9rem;
    }

    #cards{
        width:81vw;
        height:70vh;
    }  
    #entrance-buttons{
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    #login-page input{
        height: 5vh;
        width: 80vw;
        font-size: 1.2rem;
    }
    #reg input{
        text-align:center;
        width: 80vw;
        height: 4vh;
    }
}

@media only screen and (max-width: 1072px) {
    .card{
        width:15vw;
        height:13vh;
        padding:3vh 1vw;
        margin:0.5vh 0.5vh;
        background-color: #dbdbdb;
        border-radius: 0.9rem;
    }

    #cards{
        width:92vw;
        height:70vh;
    }
    #board label{
        font-size:3rem;
    }
    
} 
