*{
    padding: 0%;
    margin:0%;
}
button{
    position: absolute;
    top:30%;

    padding:3%;
}

#main_button{
    left:40%;
}

#player1{
    left:25%;
    top:40%;

}

#player2{
    left:55%;
    top:40%;
}


