* {
    Box-sizing: Border-box
    } 
.board{
   display:flex;
   margin:auto;

}

.greyCard{
   border: solid gray;
   margin:0.4%;
   padding:0.4%;
   
}

.unselectedCard{
   margin:0.4%;
   padding:0.4%;
   border: color 0;;

}

.greenCard{
   border: solid greenyellow;
   margin:0.4%;
   padding:0.4%; 
}

.redCard{
   border: solid red;
   margin:0.4%;
   padding:0.4%;
}

.not-active {
    pointer-events: none;
    cursor: default;
    opacity: 0.4;
  }


